=div_for @event do
  .event_name= "Event #{@event.name}"
  .event_details.clearfix
    .detail
      =link_to "Tickets", event_tickets_path(@event)
      .value=@event.capacity
    .detail
      =link_to "Sponsors", event_sponsors_path(@event)
      .value=money(@event.sponsors.total_price)
    .detail
      =link_to "Fixed expenses", event_fixed_expenses_path(@event)
      .value= money(@event.fixed_expenses.total)
    .detail
      =link_to "Delegate expenses", event_delegate_expenses_path(@event)
      .value= money(@event.delegate_expenses.total)
  .scenario.clearfix
    %h3 Projections
    #ticket_sales
      Tickets
      #ticket_slider_value=@scenario.sales
      #ticket_slider
    #scenario_result
      =render 'scenario_result'
=link_to "All events", events_path, :class=>'link_to_all_events'


:javascript
  jQuery('#ticket_slider').slider({
    max:#{@event.capacity},
    min:0,
    value:#{@scenario.sales},
    change: function(event, ui){jQuery.get('#{scenario_event_path(@event.id)}?sales=' + ui.value, function(scenario){jQuery('#scenario_result').html(scenario);});},
    slide: function(event, ui){jQuery('#ticket_slider_value').html(ui.value);}});
