!!! 5
%html
  %head
    %title= controller.action_name
    = javascript_include_tag 'jquery', 'jquery-ui', 'rails'
    = stylesheet_link_tag 'reset', 'jquery-ui'
    = formtastic_stylesheet_link_tag
    = stylesheet_link_tag 'application'
    = csrf_meta_tag
  %body
    =link_to "Log out", destroy_user_session_path if user_signed_in?
    #container
      - if notice.present?
        %p.notice= notice
      - if alert.present?
        %p.alert=alert
      = yield
